* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 5px solid black;
  height: 100px;
}

.left {
  display: flex;
  font-size: 50px;
  margin: auto;
}

.right {
  display: flex;
  margin: auto;
  gap: 30px;
  font-size: 30px;
}
